# Dependance
node_modules
/coverage/
/.out/
/.dist/*
!/.dist/start.bat
/.idea/
/node_modules/

/tests/e2e/videos/

junit.xml

yarn-*.log

# local env files
.env.local
.env.*.local

# Configuration
/config
/config/*
config/*